*{
  margin: 0px;
  padding: 0px;
}
@font-face{
  font-family: 'zefanistencil';
  src: url('./ZefaniStencil\(uppercase\)-Regular.otf');
  font-style: normal;

}
ul{
    list-style: none;
}
body{
   background-color:#845EC2;
}
.wrapper{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 65px;
    background-color: #845EC2;
    white-space: nowrap;
}


.header {
    position: relative;
}
  .navbar{
     width : 100%;
     height : 80px;
     display : flex;
    
     padding-top : 0px;
    border: 2px solid black;
    background-color: #845EC2;
    
 }


 .navbar .menu {
    margin:auto;
 }
    .navbar .menu ul li{
        display: inline-block;
        margin-right: 35px;
        align-items: center;
        }
         
           
            img{
                margin-left : 200px;
                border-radius: 50%;
            }
            .button {
                color: blue;
                padding: 13px 28px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                font-family: 'Times New Roman', Times, serif;
                border-radius: 20%;
              }
              .button1{
                background-image: linear-gradient(to right bottom, #ffce00, #ffa924, #ff8445, #ff6164, #fe4880);
                  color: white;
                  border: 3px solid white;
              }
               .button1:hover {
                background-color: white;
                color: white;
                border : 3px solid black;
                transform: scale(1.1);
              }
              .button2{
                background-image: linear-gradient(to right bottom, #ffce00, #ffa924, #ff8445, #ff6164, #fe4880);
                border: 3px solid white;
                color: white;
            }
            .button2:hover {
              background-color: white;
              color: white;
              border : 3px solid black;
              transform: scale(1.1);
            }
              
            .button3{
              background-image: linear-gradient(to right bottom, #ffce00, #ffa924, #ff8445, #ff6164, #fe4880);
                border: 3px solid white;
                color: white;
            }
            .button3:hover {
              background-color: white;
              border : 3px solid black;
              color: white;
              transform: scale(1.1);
            }
            .button4{
              background-image: linear-gradient(to right bottom, #ffce00, #ffa924, #ff8445, #ff6164, #fe4880);;
              border: 3px solid white;
                color: white;
            }
            .button4:hover {
              background-image: white;
              border : 3px solid black;
              color: white;
              transform: scale(1.1);
            }
            
            .text{
                position : absolute;
                right:200px;
                display : inline-block;
                top: 200px;
               font-size: 38px;
                text-align: right;
            }

            .wrapper img{
                margin-left: 0px;
                margin-top : 30px;
            }

        .text h1{
            text-align: left;
            font-family: unset;
            font-size: 70px;
            margin-bottom: 0px;
        }

        .text h2{
            font-family: 'Rye';
            margin:0px;
            padding: 0px;
            text-shadow: 5px 5px 10px lightblue;
        }

        .wrapper .about{
          border: 4px double white;
          background: white;
          height: 45vh;
          position: relative;
          margin: 40px;
          box-shadow: 5px 10px #888888;
        }

          .wrapper .text{
            margin-top:20px;
            font-size: 35px;
        }

        .wrapper .about h1{
          background-color:violet;
          color: white;
          text-align: center;
          font-size: 50px;
          font-family: 'zefanistencil';
          margin: 0px;
        }

        .about .about1{
          display: inline-block;
        }

        .about1 ul{
          position: relative;
          top: 40px;
        }

        .about1 ul li{
          display: inline-block;
          font-size: 30px;
          font-family: Arial, Helvetica, sans-serif;
          line-height: 10vh;
          font-weight: bold;

        }
        .about .about2{
          display: inline-block;
        }

        .about2 ul li{
          text-align: right;
          display: inline-block;
          position: relative;
         left: 20vh;
          top: px;
          font-size: 30px;
          line-height: 10vh;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
        }

   

        #Main h1{
          color: #FCF7FF;
         
          text-align: center;
          margin-top: 60px;
          font-size: 60px;
          margin-bottom: 15px;
          padding: 0px 0px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
        }

        .one {
        display: flex;
        justify-content: center;
        margin: 10% 5% ;
        }

        .one .button2{
                border: 3px solid #FCF7FF;
                color: black;
                padding: 10px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 0% 7% ;
                transition-duration: 0.4s;
                cursor: pointer;
                font-family: sans-serif;
                border-radius: 20%;
                font-weight: bold;
        }

        .one .button2:hover {
          background-color: lightsteelblue;
          color: #FCF7FF;
          border: none;
        }
     
        
        .container table td{
          border: 2px solid black;
        }
        
        .container table .center{
          text-align: center;
          font-size: 35px;
         font-weight: 200;
         background-color: white;
         font-family: arial;
         color: grey;
        }

        .container td{
          text-align: left;
          font-size: 25px;
          width: 50%;
          background-color: lightblue;
          
        }
      
        .heading{
          padding: 10px;
          border: 1px solid black;
          font-size: 40px;
          color: white;
          text-align: center;
          font-family: 'Roboto Slab', serif;
       
        }
        .container{
          font-size: 30px;
          width: 100%;
          justify-content: center;
          display: flex;
           }
           .cards-1{
             display: flex;
             justify-content: center;
           }
        .flip-card {
          background-color: transparent;
          height: 100%;
          /* Remove this if you don't want the 3D effect */
          perspective: 1000px;
          font-size: 15px;
          font-family: sans-serif;
          text-align: center;
          margin: 10%;
          
        }
        
        /* This container is needed to position the front and back side */
        .flip-card-inner {
          position: relative;
          float: right;
          border-radius: 20%;
          width: 300px;
          height: 200px;
          text-align: right;
          transition: transform 0.8s;
          transform-style: preserve-3d;
        
          
        }
        
        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
          border: 4px solid black;
        }
        
        /* Position the front and back side */
        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          border-radius: 20%;
          
        }
        
        /* Style the front side (fallback if image is missing) */
        .flip-card-front {
          background-image: linear-gradient(to bottom right, #FFCE00 , #FE4880);
          box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
        color: white;
        display: flex;
        align-items: center;
        justify-content:center;
         
        }
        
        /* Style the back side */
        .flip-card-back {
          display: flex;
          align-items: center;
          justify-content:center;
          background-image: linear-gradient(to bottom right, #FFCE00 , #FE4880);
           color: white;
           transform: rotateY(180deg);
          text-align: center;
          size: 20px;
        }

        .flip-card2{
          background-color: transparent;
          width: 45%;
          height: 200px;
          border: 2px solid black;
          perspective: 1000px; /* Remove this if you don't want the 3D effect */
          display: inline-block;
          font-size: 15px;
          font-family: sans-serif;
          padding-left: 20px;
        }
        
        /* This container is needed to position the front and back side */
        .flip-card-inner2{
          position: relative;
          width: 300px;
          height: 200px;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          
        }
        
        /* Do an horizontal flip when you move the mouse over the flip box container */
        .flip-card2:hover .flip-card-inner2{
          transform: skew(1.2);
          border: 4px solid black;
          
        }
        
        /* Position the front and back side */
        .flip-card-front2, .flip-card-back2{
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; /* Safari */
          backface-visibility: hidden;
          border-radius: 20%;
        }
        
        /* Style the front side (fallback if image is missing) */
        .flip-card-front2{
        background-color: dodgerblue;
        color: goldenrod;
        display: flex;
        align-items: center;
        justify-content:center;
        }

        .skills-margin li{
          margin-top: 10px;
          font-weight: bold;
          text-align: center;
          size: 20px;
        }

        .container .td{
          border: 2px solid black;
        }
        a
      
      .wrapper .paragraph{
        font-size: 10px;
      }  
.container-2{
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
}
      .project-card {
       width: 270px;
       height: 400px;
       background-color: white;
       border-radius: 12px;
       border: 2px solid black;
       overflow-wrap: break-word;
       margin: 10%;
      }
      .project-card:hover{
        background-color: rgba(62, 62, 62,62);
        color: white;
        cursor: pointer;
        transform: scale(1.13);
        transition: all 1s ease;
      }
      .card-image{
        height: 200px;
        width: 200px;
       background-size: cover;
       margin: auto;
       
       
      }
    
      .img-1{
        background-image: url('./png\ male\ cartoon.png');
      border: 2px solid black;
      border-radius: 50%;
      }
      .img-2{
        background-image: url('./Ecommerce-Free-PNG-Image.png');
      width: 100%;
      }
      .container-2 h1 {
        color: goldenrod;
        padding: 10px;
        font-size: 27px;
      }
      .container-2 p{
        color:black;
      }
       .container-2 a{
        background-color: black;
        color: white;
        padding: 15px 20px;
        display: block;
        text-align: center;
        margin: 40px 15px 0px 130px;
        
      }


       
        
     
 
  



